<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.applicant.tracker.dao.mapper.IProgramMapper">

    <resultMap id="programResultMap" type="org.applicant.tracker.dao.dto.Program">
        <id property="id" column="id" javaType="Long" jdbcType="BIGINT"/>
        <result property="university" column="university" javaType="String" jdbcType="VARCHAR"/>
        <result property="places" column="places" javaType="int" jdbcType="INTEGER"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="form" column="form" javaType="org.applicant.tracker.enums.EducationForm" jdbcType="VARCHAR"/>
        <result property="type" column="type" javaType="org.applicant.tracker.enums.PaymentType" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAll">
        select * from program
    </select>

    <select id="getById" resultMap="programResultMap">
        select * from program where id = (#{id})
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="org.applicant.tracker.dao.dto.Program">
        INSERT INTO program(university, places, name, form, type) VALUES(#{university},
                                                                         #{places},#{name},
                                                                         #{form, javaType=org.applicant.tracker.enums.EducationForm, jdbcType=VARCHAR},
                                                                         #{type, javaType=org.applicant.tracker.enums.PaymentType, jdbcType=VARCHAR});
    </insert>

    <update id="update" parameterType="org.applicant.tracker.dao.dto.Program">
        UPDATE program
        SET university = #{university},
            places = #{places},
            name = #{name},
            form = #{form, javaType=org.applicant.tracker.enums.EducationForm, jdbcType=VARCHAR},
            type = #{type, javaType=org.applicant.tracker.enums.PaymentType, jdbcType=VARCHAR}
        WHERE id = #{id};
    </update>

    <delete id="deleteById">
        delete from program where id = #{id}
    </delete>

    <delete id="delete" parameterType="org.applicant.tracker.dao.dto.Program">
        delete from program where
            university = #{university} and
            places = #{places} and
            name = #{name} and
            form = #{form, javaType=org.applicant.tracker.enums.EducationForm, jdbcType=VARCHAR} and
            type = #{type, javaType=org.applicant.tracker.enums.PaymentType, jdbcType=VARCHAR}
    </delete>

</mapper>